body {
    font-family:"Helvetica Neue", Arial, sans-serif;
    padding: 50px 100;
}

td {font-family: monospace;}
.table th, .table td { padding: 5px 10px }
#blocks-table td { padding-bottom: 25px }
.table tr:nth-child(even) {background-color: #eaeaea;}
.table th {
    background-color: purple;
    color: white;
}

a { text-decoration : none; color: blue}
a:link:hover { background-color: #ddd }

hr {
  border: 1px dashed #ccc;
}

img {
    max-width: 400px;
    margin: auto;
    display: block;
}

h3, h4 { margin: 8px 0; }

.green, .red, .yellow, .transaction, .origination, .endorsement, .delegation, .reveal {
    font-family: monospace;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 3px;
}
.badge {
    padding: 4px 8px;
    color: black!important;
    background: white!important;
    display: inline-block;
    margin: 0 5px 3px 0;
}
.green {
    background-color:green;
}
.red {
    background-color:red;
}
.yellow {
    background-color:orange;
}

.transaction {
    background-color:lightseagreen;
    border:1px solid lightseagreen;
}

.origination {
    background-color:dodgerblue;
    border: 1px solid dodgerblue;
}

.endorsement {
    background-color:goldenrod;
    border: 1px solid goldenrod;
}

.reveal {
    background-color:orange;
    border: 1px solid orange;
}

.delegation {
    background-color:chocolate;
    border: 1px solid chocolate;
}

table {
    text-align: left;
}
#ops {
    font-family: monospace;
    padding: 2px 0;
}
.col {
    padding-right: 12px;
}

.op-line {
    padding-bottom: 33px;
}

.inline-json {
    /* margin:5px 0; */
}
.inline-json, .inline-json-block {
    background:white;
    border: 1px solid grey;
    position: absolute;
}

.tr-details {
    display: inline-block;
    /* padding-top:6px; */
    margin-bottom: 3px;
}

.odd-batch { background-color: #eaeaea; }

.transaction.odd-batch, .transaction.even-batch,
.origination.odd-batch, .origination.even-batch,
.reveal.odd-batch, .reveal.even-batch,
.endorsement.odd-batch, .endorsement.even-batch,
.delegation.odd-batch, .delegation.even-batch
{
    color: unset;
    font-weight: unset;
    border: unset;
}
.transaction.odd-batch {
    background-color: #20b2aa77;
}
.transaction.even-batch {
    background-color: #20b2aa33;
}

.origination.odd-batch {
    background-color: #1e90ff77;
}
.origination.even-batch {
    background-color: #1e90ff33;
}

.endorsement.odd-batch {
    background-color: #daa52077;
}
.endorsement.even-batch {
    background-color: #daa52033;
}

.delegation.odd-batch {
    background-color: #d2691e77;
}
.delegation.even-batch {
    background-color: #d2691e33;
}

.reveal.odd-batch {
    background-color: #ffa50077;
}
.reveal.even-batch {
    background-color: #ffa50033;
}


.daemon-exited {
    background-color: #F5B7B1!important;
}
.daemon-exited:nth-child(even) {
    background-color: #FADBD8!important;
}
.daemon-running {
    background-color: #ABEBC6!important;
}
.daemon-running:nth-child(even) {
    background-color: #D5F5E3!important;
}

#nb-bakers, #nb-endorsers, #nb-accusers {
    color: green;
}
.nb-daemon-zero {
    color: red!important;
}

#logs-div pre {
    overflow: auto;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 10px;
    max-height: 92vh;
    max-width: 50vw;
    color: #eeeeee;
    background-color: #222;
}
